@charset "UTF-8";

// small tweaks to tabs

.k-tabs {
  background: #efefef;
  border-top:none;
  border-left:none;
  border-right:none;
}

.k-tabs nav {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}

.k-tab-button.k-button {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.k-tab-button.k-button > .k-button-text {
    font-size: 0.9rem;
    padding-top: 0;
}

.k-tab-button.k-button {
    font-size: 0.9rem;
    text-transform: none;
    text-align: center;
    font-weight: normal;
    border-left:none;
}

.k-tab-button[aria-current]:first-child {
    border-left: none;
}

.k-tab-button[aria-current]::before {
    left: -1px;
    right: -1px;
    height: 1px;
    top: -1px;
    background: #16171a;
    background-color: rgba(200,200,200,1);

}

// end small tweaks to tabs

section.k-section-name-optionpages footer.k-item-footer, section.k-section-name-filepages footer.k-item-footer,
section.k-section-name-analyticspages footer.k-item-footer,
section.k-section-name-optionpages nav.k-list-item-options, section.k-section-name-filepages nav.k-list-item-options,
section.k-section-name-analyticspages nav.k-list-item-options,
section.k-section-name-homepage footer.k-item-footer,
section.k-section-name-homepage nav.k-list-item-options,
section.k-section-name-contentpages footer.k-item-footer,
section.k-section-name-contentpages nav.k-list-item-options{
  display:none;
}

section.k-section-name-contentpages .k-collection .k-cards-items .k-icon svg,
section.k-section-name-homepage .k-collection .k-cards-items .k-icon svg{
  width:2.75rem;
  height:2.75rem;
}

section.k-section-name-contentpages .k-collection .k-cardlets-items .k-icon svg,
section.k-section-name-homepage .k-collection .k-cardlets-items .k-icon svg{
  width:2.25rem;
  height:2.25rem;
}

span.date-label{
  font-size:0.775rem;
}

span.page-table-updated{
  font-size: .775rem;
  font-family: monospace;
  letter-spacing: -0.25px;
  color:rgba(150,150,150,1);
}

span.refresh-glyph{
  font-family: monospace;
  font-size:.775rem;
  margin-right:0.375rem;
  color:rgba(160,160,160,1);
}

// overwrite updated_by field to display author title instead of UUID

.k-field-name-updated_by, .k-field-name-comment_author_id,
.k-field-name-author_id, .k-field-name-author_name, .k-field-name-author_email{
  span.k-input-element input{
    color:transparent;
  }
  .k-text[data-theme=help]{
    position: absolute;
    max-width: calc(100% - 4rem);
    margin-top: -2.2rem;
    margin-left: 0.5rem;
    font-size: var(--text-base);
    color: var(--color-gray-900);
    line-height: 1rem;
    box-sizing: border-box;
    p{
      text-overflow: ellipsis;
      overflow: hidden;
      height:1.2rem;
      white-space: nowrap;
    }
  }
}

// categories, tags, page table styles

.k-headline-field{
  padding-top:0!important;
}

.k-list-item .k-item-info{
  flex-shrink: 0;
}

@media screen and (max-width: 515px){
  .k-list-item .k-item-info{
    display:none;
  }
}

.related-label, .related-label-more, .category-label {
  display:inline-block;
  float:left;
  border-radius: 3px;
  background: rgba(240,240,240,1);
  color:rgba(50,50,50,1);
  margin:0;
  padding:1px;
  padding-left:6px;
  padding-right:6px;
  font-size:0.775rem;
  border: 1px solid rgba(240,240,240,1);
}

.category-label{
  float:none;
  margin-right:0.5rem;
}

.category-label-moderation{
  float:left;
  margin-right:0.25rem;
  margin-top:0.125rem;
  margin-bottom:0.125rem;
}

.subcategory-moderation{
  display:inline-block;
  float:left;
  margin-top:0.125rem;
  margin-bottom:0.125rem;
  margin-left:0.25rem;
  padding-top:0.125rem;
}


.related-label{
  background: rgba(200,200,200,1);
  color:rgba(0,0,0,1);
  border: 1px solid rgba(200,200,200,1);
  max-width: min(8rem, 10vw);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right:0.5rem;
}

.related-label-more{
  float:none;
  border-radius:1.5rem;
  color:rgba(0,0,0,1);
  background-color:rgba(200,200,200,1);
  border: 1px solid rgba(200,200,200,1);
  padding-left:0px;
  padding-right:0px;
  text-align:center;
  width:1.875rem;
}

// multiselect that replaced pages field on agenda / directory posts
.category-multiselect-label, .is-collection-label--page-table{
  display:inline-block;
  float:left;
  color:rgba(255,255,255,1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right:0.5rem;
  font-weight:normal;
  font-size:0.75rem;
  padding:1px;
  padding-left:2px;
  padding-right:2px;
  padding-bottom:2px;
  margin:0px;
  margin-top:-0.5px;
  margin-bottom:-3px;
  margin-right:0.5rem;

  border-radius: 3px;
  border:1px solid rgba(255,255,255,1);
}

.k-button.k-dropdown-item.k-multiselect-option .category-multiselect-label{
  margin-top:-0.5px;
}

.k-field-name-related .k-tag{
  background-color:rgba(255,255,255,1);
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.25);
  color:rgba(0,0,0,1);
  .category-multiselect-label{
    border:1px solid rgba(60,60,60,1);
    color:rgba(30,30,30,1);
    background-color:rgba(255,255,255,1);
    margin-left:-0.375rem;
  }

  .k-tag-toggle{
    color:rgba(150,150,150,1);
  }

  .k-tag-toggle:hover {
    background: rgba(0,0,0,.1);
    color: rgba(0,0,0,0.75);
  }

}

.k-field-name-related .k-button.k-dropdown-item.k-multiselect-option.selected .category-multiselect-label{
  border:1px solid var(--color-positive-light);
  color: var(--color-positive-light);
}

.k-tag.sortable-drag{
  .category-multiselect-label{display: none;}
}

.hidden-separator{
  display:none;
}

[dir=ltr] .k-field-name-related .k-tag-toggle{
    border-left: 1px solid rgba(0,0,0,.1);
}


.is-collection-label--a{
  display:inline;
  transition: color 125ms ease-in-out 0ms;
}
.is-collection-label--span, .is-archived-label--span{
  position:relative;
  display:inline-block;
  float:right;
  white-space: nowrap;
  overflow: hidden!important;
  text-overflow: ellipsis;

  padding:1px;
  padding-left:4px;
  padding-right:4px;
  margin-top:0px;
  margin-bottom:0px;
  //margin-right:0.5rem;
  margin-left:0rem;

  border-radius: 3px;

  font-size:0.75rem;
  font-weight:normal;

  border:1px solid var(--color-focus);
  color:rgba(0,0,0,1);
  color: var(--color-focus);
  background-color:rgba(255,255,255,1);
  box-shadow: 0px 0px 10px 15px rgba(255,255,255,1);
  transition: background-color 125ms ease-in-out 0ms, border 125ms ease-in-out 0ms,
              border 125ms ease-in-out 0ms, border 125ms ease-in-out 0ms,
              color 125ms ease-in-out 0ms, border 125ms ease-in-out 0ms;
}

.is-indicator-label--a:hover{
  .is-collection-label--span{
    border:1px solid rgba(0,0,0,1);
    color:rgba(0,0,0,1);
  }
  .is-archived-label--span{
    border:1px solid rgba(240,240,240,1);
    background-color: rgba(240,240,240,1);
    color:rgba(0,0,0,1);
  }
}

.is-archived-label--span{
  border:1px solid rgba(235,242,250,1);
  background-color: rgba(235,242,250,1);
  color:rgba(255,255,255,1);
  color:var(--color-focus);
}
// no index in the new page table layout

.k-structure-field:not(.k-field-name-documents_block_content) .k-table-index-column,
.k-models-section .k-table-index-column{
  display:none;
}

// no padding for p inside a html section page table layout (use for links)
div.k-html-field-preview p.k-url-field-preview{
  padding:0;
}




// inside content pages multiselect hack

.k-field-name-category span.k-multiselect-value{
  display:none;
}

span.field-text-boost-hidden{
  color:#999;
  margin-left:0.25rem;
  display:none;
}
.k-field-name-category button.k-dropdown-item.k-multiselect-option span.field-text-boost-hidden,
.k-field-name-category button.k-dropdown-item.k-multiselect-search span.field-text-boost-hidden{
  display:inline;
}




// home panel

section.k-section-name-contentpages span.k-icon.k-icon-folder,
section.k-section-name-contentpages span.k-icon.k-icon-quote,
section.k-section-name-contentpages span.k-icon.k-icon-calendar,
section.k-section-name-contentpages span.k-icon.k-icon-document{
  //background-color:rgba(200, 200, 200, 1)!important;
  //svg{color:rgba(30,30,30,1)!important;}
}

section.k-section-name-contentpages article[data-template="agenda-index"],
section.k-section-name-contentpages article[data-template="directory-index"],
section.k-section-name-contentpages article[data-template="about-index"]{ 
  //.k-item-figure{ background:rgba(0,0,0,0)!important; }
}

section.k-section-name-homepage span.k-icon.k-icon-home{
  //background-color:rgba(0,0,0,1)!important;
  //svg{color:rgba(180,180,180,1)!important;}
}

// janitor

div.janitor-wrapper .k-button.janitor{
  padding-top:0.375rem;
  padding-bottom:0.625rem;
}

div.janitor-wrapper .k-button.janitor.is-success{
  background-color:var(--color-positive-light);
}

// matomo

.matomo-chart .overlay, .matomo-chart .empty{
  z-index:9;
}

// embed preview

div.k-embed-field.k-field-name-audio_embed_soundcloud_block_content{
  div.preview, div.preview-content, div.preview-content iframe{
    min-height: 10rem;
    max-height:10vw;
    width:100%;
    background-color: transparent;
  }
}

@media screen and (max-width: 1039px){

  div.k-embed-field.k-field-name-audio_embed_soundcloud_block_content{
    div.preview, div.preview-content, div.preview-content iframe{
      min-height: 10rem;
      max-height:25vw;
    }
  }

}

// moderation

.k-section-name-comments, .k-section-name-comments_sort_by_date, .k-section-name-comments_sort_by_rating,
.k-section-name-comments_sort_by_status, .k-section-name-comments_sort_by_spam{
  .k-html-field-preview{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    white-space: normal;
    box-sizing:border-box;
  }
  .k-item-figure{
    height:100%;
    background: var(--color-white)!important;
    box-sizing:border-box;
  }
}

.k-section-name-blocklists{
  .k-field-name-moderation_blocklist, .k-field-name-moderation_spamlist,
  .k-field-name-moderation_ip_blocklist, .k-field-name-moderation_aid_blocklist{
    textarea{
      height:auto!important;
      height:20rem!important;
      overflow:auto!important;
    }
  }
}

// seo tabs inside

span.serp-url{
  position: relative;
  display:inline-block;
  line-height: 1.3;
  color: #545454;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 13px;
  font-family: arial,sans-serif;
  font-weight: 400;
  max-width:100%;
  cursor: pointer;
  text-decoration: none;
  pointer-events:none;
}

span.serp-url *{
  text-decoration: none;
  pointer-events:none;
}

span.serp-title{
  position: relative;
  display:inline-block;
  line-height: 1.3;
  color: #1a0dab;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  font-family: arial,sans-serif;
  font-weight: 400;
  max-width:100%;
  cursor: pointer;
  text-decoration: none;
}

span.serp-title:hover{
  text-decoration:underline;
}

span.serp-desc{
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 1.58;
  color: #545454;
  font-size: 14px;
  font-family: arial,sans-serif;
  width: 600px;
  max-width:100%;
  word-wrap: break-word;
  display: inline-block;
}

div.k-box[data-theme="serp"]{
  background-color:#FFF;
  //border: 1px solid #ccc;
}